body{         
}

html{
    margin: 2;
    padding: 2;
    box-sizing: border-box;
}
.header{
    height: 100vh;
    position: relative;
    background-image: url(media/okboomer.jpg);
}

.header-text{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: blue;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1cm;
}





