body{
    background-image: url(media/fall2.jpg);
}

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 100vh;
    position: relative;
    background-image: url(media/fall2.jpg);
}

.header-text{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: purple;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1cm;

}


